.section {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}

.paddingmedium {
    padding: 7rem 0 2rem 0;
}

@media only screen and (min-width: 65.625em) {
    .paddingmedium {
        padding-top: 12rem;
    }
}


.paddingstart {
    padding: 20rem 0 2rem 0;
}

.relative {
    position: relative;
}

.bgpurple {
    background-color: #543D95;
}

.bgpurple p > a,
.bgpurple p > a:visited {
    text-shadow:
        1px 1px #543D95,
        1px -1px #543D95,
        -1px 1px #543D95,
        -1px -1px #543D95;
}

.bgpurple p > a:hover {
    color: #f1269d;
}

.bgblue {
    background-color: #4155B4;
}

.bgblue p > a,
.bgblue p > a:visited {
    text-shadow:
        1px 1px #4155B4,
        1px -1px #4155B4,
        -1px 1px #4155B4,
        -1px -1px #4155B4;
}

.bgblue p > a:hover {
    color: #ffeb3b;
}

.bgblack {
    background-color: #3D3C40;
}

.bgblack p > a,
.bgblack p > a:visited {
    text-shadow:
        1px 1px #3D3C40,
        1px -1px #3D3C40,
        -1px 1px #3D3C40,
        -1px -1px #3D3C40;
}

.bgblack p > a:hover {
    color: #f1269d;
}
