.video {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.videoWrapper {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}


.videoWrapper > * {
    flex: 1 1 0;
    /*padding: 0 1em;*/
}

.midWrapper {
    border: 4px solid #FFEB3B;
    padding: 1em;
    border-radius: 1em;
    background-color: black;
}

.descriptionWrapper {
    position: relative;
}

.heart {
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 50%;
    fill: #b7dce7;
    z-index: -1;
}

.viewsWrapper {
    padding-top: 1em;
    font-size: 2em;
}

.views {
    display: inline-block;
    border: 4px dotted #1977cc;
    padding: .5em;
    border-radius: 1em;
    color: #1977cc;
}


.description {
    display: flex;
    flex-flow: column wrap;
}

.description > * {
    flex: 1 1 0;
}