.text {
    max-width: 55rem;
    font-family: OpenSans, "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 1.6rem;
    flex-grow: 1;
}

@media only screen and (min-width: 40em) {
    .text {
        font-size: 2rem;
    }
}

.standalone {
    width: 90%;
    max-width: 65rem;
    padding: 5rem 0 15rem 0;
}
