
.twoUp {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 10rem;
}

.small {
    margin-bottom: 5rem;
}

.noMargin {
    margin: 0;
}

@media only screen and (min-width: 65.625em) {
    .twoUp {
        align-items: flex-start;
        flex-direction: row;
        width: auto;
    }
}