.media {
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.5);
}

.media iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.responsiveInner {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    height: 0;
}

.video {
    padding-bottom: 56.25%;
    background-color: #252621;
}

.slideshare {
    padding-bottom: 81.51%;
    background-color: #fff;
}

:global(.js) .slideshare {
    cursor: default;
}

.placeholder {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: 50% 50%;
    background-size: cover;
}


.videoPlaceholder:after {
    cursor: pointer;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.videoPlaceholder .ytPlayBg {
    fill: #1f1f1e;
}

.videoPlaceholder svg.playIcon {
    transition: fill 180ms;
}

.videoPlaceholder:hover svg.playIcon {
    fill: red;
}

.playbar {
    transition: background-color 180ms;
}

.videoPlaceholder:hover .playbar {
    background-color: rgba(31,31,31,0.51);
}

.viewsNumber {
    transition: opacity 500ms;
}

.viewCount {
    font-size: 2rem;
    display: inline-block;
    background: white;
    padding: .25em 1em;
    border-radius: 2em;
    border: 2px solid rebeccapurple;
}

.ssPlaceholder,
.videoPlaceholder {
    opacity: 0;
    transition: opacity 500ms;
}

:global(.loaded).ssPlaceholder,
:global(.loaded).videoPlaceholder {
    opacity: 1;
}

:global(.js) .fallback,
:global(.no-js) .ssPlaceholder,
:global(.no-js) .videoPlaceholder {
    display: none;
}



.playIcon {
    fill: #1f1f1f;
}



.text {
    padding: 2em 0;
}

.description {
    padding: 2em 1em;
}
