.mockupWrapper {
    position: relative;
}

.mockup {
    width: 100%;
    position: relative;
    z-index: 3;
}

.screenshot {
    position: absolute;
    z-index: 4;
}


:global(.js) .fallback,
:global(.no-js) .jsSource {
    display: none;
}

.jsSource,
.fallbackMockup {
    background-size: 100%;
    background-repeat: no-repeat;
}

.jsSource {
    opacity: 0;
    transition: opacity 500ms;
}

.jsSource:global(.loaded) {
    opacity: 1;
}

.fallbackScreenshot {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
}

.shadow {
    z-index: 2;
    position: absolute;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 500ms;
}

:global(.no-js) .shadow,
:global(.loaded) ~ .shadow {
    opacity: 1;
}
