.h1, .h2, .h3 {
    font-family: Adelle, Arial;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
}

.h1 {
    color: rgba(255, 255, 255, .92);
    font-size: 5rem;
    font-weight: 800;
    padding: 2.7rem 1rem 10rem 1rem;
    text-align: center;
    line-height: 1;
}

.h2 {
    color: #fff;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.2;
    padding: 2.7rem 1rem;
    text-align: center;
}

.h3 {
    color: #fff;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.2;
    padding: 2.7rem 1rem;
    text-align: center;
}

@media only screen and (min-width: 56.25em) {
    .h1 {
        font-size: 7rem;
    }
}

@media only screen and (min-width: 65.625em) {
    .h2 {
        font-size: 4.8rem;
    }

    .h3 {
        font-size: 3rem;
    }
}

.withText {
    padding-bottom: 0;
}


.wrapper {
    position: relative;
    display: inline-block;
}

.icon {
    position: absolute;
    right: calc(50% - 5rem);
    bottom: 1rem;
    width: 10rem;
    height: 10rem;
}

.iconSmall {
    display: none;
}

@media only screen and (min-width: 56.25em) {
    .icon {
        bottom: 2rem;
    }
}

@media only screen and (min-width: 65.625em) {
    .iconSmall {
        right: -7rem;
        top: 3rem;
        width: 5rem;
        height: 5rem;
    }

    .icon {
        display: block;
        position: absolute;
        right: -8rem;
        bottom: 9rem;
        width: 10rem;
        height: 10rem;
    }
}